---
layout: base.njk
title: Services
description: Make your ideas reality with Yemadiso services.
---

<h1>Services</h1>
<article class="card">
    <h3>Apps</h3>
    <ul>
        <li>Multiplatform apps for those who need to move fast and rapidly itterate.</li>
        <li>Bespoke, premium native apps for those who want the very best for their users.</li>
    </ul>
    <span class="badge">Android Native</span>
    <span class="badge">iOS Native</span>
    <span class="badge">Flutter</span>
    <span class="badge">Kotlin Multiplatform</span>
</article>
<br>
<article class="card">
    <h3>Backend Servers</h3>
    <p>We take security and uptime seriously. Rely on us to take the stress out of your business needs.</p>
    <span class="badge">Golang</span>
    <span class="badge">Kotlin</span>
    <span class="badge">AWS</span>
</article>
<br>
<article class="card">
    <h3>Design</h3>
    <p>Not sure what you need? We can rapidly produce a design to give you a better idea of what direction you want to take your idea before starting to build it.</p>
    <span class="badge">Figma</span>
</article>