---
layout: base.njk
title: Yemadiso
description: Handcrafted apps, built with care.
---
<header class="hero">
    <h1>Yemadiso</h1>
    <p>Handcrafted apps, built with care.</p>
</header>
<a href="/services/" class="card">
    <h2>Got your own idea for an app or website?</h2>
    <p>With years of experience working with startups and established businesses, we can help. From your first customer to your millionth, we can make your ideas reality.</p>
    <p>Check out our services to find out more.</p>
</a>
<h2>Apps</h2>
<section class="apps">
    <a href="/macrolens/" class="card">
        <h2>MacroLens</h2>
        <p>Get the most out of your protein and meal replacement powders. Calculate macros, make better decisions.</p>
        <span class="badge">Coming soon</span>
    </a>
</section>
