---
layout: base.njk
title: MacroLens
description: Get the most out of your protein and meal replacement powders.
---
<header class="hero">
    <h1>MacroLens</h1>
    <p>Get the most out of your protein and meal replacement powders. Calculate macros, make better decisions.</p>
</header>
<h3>This app is coming soon to iOS and Android.</h3>
<div class="card-container">
    <a href="/macrolens/privacy-policy" class="card">
        <h3>Privacy Policy</h3>
    </a>
    <article class="card">
        <h3>Terms and Conditions</h3>
    </article>
</div>